<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.integral.dao.IntegralMapper">

    <select id="queryAllIntegral" resultType="com.dkm.integral.entity.Integral">
        select i_id,i_product_name,i_img,i_product_number,i_Integral_number from tb_integral
    </select>

    <select id="queryUserIdIntegral" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select i_my_integral from tb_user_integral where user_id=#{userId}
    </select>

    <update id="updateUserIntegral">
        update tb_user_integral set i_my_integral=i_my_integral-#{iMyIntegral} where user_id=#{userId}
    </update>

    <update id="updateUserByIntegral" parameterType="java.lang.Long">
        update tb_user_integral set i_my_integral=i_my_integral+8 where user_id=#{userId}
    </update>


    <update id="updateUserStarsNumber">
        update tb_stars
        <set>
            <if test="sTotalConsumedQuantity!=null">
                s_Total_consumed_quantity=#{sTotalConsumedQuantity}
            </if>
            <if test="sCurrentlyHasNum!=null">
                s_Currently_has_num=s_Currently_has_num+#{sCurrentlyHasNum}
            </if>
        </set>
           where user_id=#{userId} and s_star=#{sStar}
    </update>

</mapper>
