<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.attendant.dao.AttendantMapper">

    <select id="queryUserReputationGold" resultType="com.dkm.attendant.entity.vo.User" parameterType="java.lang.Long">
        select user_info_renown,user_info_gold from tb_user_info where user_id=#{userId}
    </select>

    <select id="queryRandomUser" resultType="com.dkm.attendant.entity.vo.User">
        SELECT a.we_chat_nick_name,a.we_chat_head_img_url,b.user_info_renown,a.user_id FROM tb_user a,tb_user_info b
        where a.user_id=b.user_id ORDER BY RAND() LIMIT 9;
    </select>

    <select id="queryThreeAtt" resultType="com.dkm.attendant.entity.vo.AttendantUsersVo">
        select a.at_img,a.at_name,au.caught_people_id,au.exp1,au.attendant_id as 'aId'
        from tb_attendant a,tb_attendant_user au
        where au.user_id= #{userId} and a.id= au.attendant_id
    </select>


    <delete id="dismissal" parameterType="java.lang.Long">
        delete from tb_attendant_user where Caught_people_id=#{caughtPeopleId}
    </delete>

    <insert id="addGraspFollowing" parameterType="com.dkm.attendant.entity.AttendantUser">
          insert into tb_attendant_user(a_id,user_id,Caught_people_id,exp1,atu_id)values(#{aId},#{userId},#{caughtPeopleId},#{exp1},#{atuId})
    </insert>


    <update id="gather" parameterType="java.lang.Long">
        update tb_attendant_user set  exp1=#{exp1} where atu_id=#{atuId}
    </update>

    <select id="queryAidUser" resultType="com.dkm.attendant.entity.vo.AttendantUserVo">
        select c.we_chat_head_img_url,c.we_chat_nick_name,a.user_info_renown,c.user_id from tb_user_info a,tb_attendant_user b,tb_user c
        where a.user_id=b.user_id and a.user_id=c.user_id and b.Caught_people_id=#{CaughtPeopleId}
    </select>

</mapper>
