<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.attendant.dao.AttendantMapper">

    <select id="queryUserReputationGold" resultType="com.dkm.attendant.entity.vo.User" parameterType="java.lang.Integer">
        select user_info_renown,user_info_gold from tb_user_info where  user_id=#{userId}
    </select>

    <select id="queryRandomUser" resultType="com.dkm.attendant.entity.vo.User">
        SELECT a.we_chat_nick_name,a.we_chat_head_img_url,b.user_info_renown,a.user_id FROM tb_user a,tb_user_info b
        where a.user_id=b.user_id ORDER BY RAND() LIMIT 9;
    </select>

    <select id="queryThreeAtt" resultType="com.dkm.attendant.entity.AttenDant">
        select at_img,at_name,exp1 from tb_attendant where user_id={userId}
    </select>


    <delete id="dismissal" parameterType="java.lang.Long">
        delete from tb_attendant where id=#{id}
    </delete>


</mapper>
