<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.event.dao.UserEventContentMapper">


    <select id="queryAllEventContentById" resultType="com.dkm.event.entity.UserEventContent" parameterType="Long">
        select he_user_id,to_rob_time,to_rob_content from tb_user_event_content where he_user_id=#{heUserId}
    </select>

    <insert id="addEvent">
        insert into tb_user_event_content(he_user_id,to_rob_time,to_rob_content)values(#{heUserId},#{toRobTime},#{toRobContent})
    </insert>




</mapper>
