<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.box.dao.UserBoxMapper">

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO tb_user_box (box_id, user_id,open_time,box_level) VALUES
        <foreach collection="list" item="box" separator=",">
            (#{box.boxId},#{box.userId},#{box.openTime},#{box.boxLevel})
        </foreach>
    </insert>
    <update id="updateBoxTime" parameterType="java.time.LocalDateTime">
        UPDATE tb_user_box
        <set>
            open_time = #{date}
        </set>
        where box_id =734058900281790469
        <!--<foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE tb_user_box
            <set>
                open_time = #{item.openTime}
            </set>
            where box_id = #{item.boxId}
        </foreach>-->
    </update>
</mapper>
