<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.friend.dao.FriendRequestMapper">


    <select id="listAllRequestFriend" parameterType="com.dkm.friend.entity.vo.IdVo" resultType="com.dkm.friend.entity.vo.FriendRequestInfoVo">
        select f.id as 'id',u.we_chat_nick_name as 'fromNick',u.user_id as 'fromId',
        DATE_FORMAT(f.request_time, '%Y-%m-%d %H:%i:%s')as 'requestTime',f.status as 'status',
        f.request_remark as 'requestRemark',u.we_chat_head_img_url as 'heardUrl'
        from tb_friend_request f join tb_user u on f.from_id = u.user_id where
        1 = 1
        and f.to_id = #{userId} and
        <foreach collection="list" item="item" index="index" separator="or">
            f.from_id = #{item.fromId}
        </foreach>
    </select>


</mapper>