<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.problem.dao.ScoreMapper">


    <select id="pageScore" resultType="com.dkm.problem.entity.vo.ScoreListVo">
        select u.we_chat_nick_name as 'userName',
            s.price as 'price',DATE_FORMAT(s.create_date, '%Y-%m-%d %H:%i:%s')as 'date'
            from tb_score s
            join tb_user u on s.user_id = u.user_id
            where s.money_id = #{moneyId}
    </select>

<!--    统计收红包的金额或者答题达人-->
    <select id="countListMax" resultType="com.dkm.problem.entity.vo.MoneyCountVo">
        select u.we_chat_nick_name as 'name',u.we_chat_head_img_url as 'headUrl'
        <if test="type == 0">
            ,sum(s.price) as 'number'
        </if>
        <if test="type == 1">
            ,sum(s.score) as 'number'
        </if>
        ,max(DATE_FORMAT(s.create_date, '%Y-%m-%d %H:%i:%s'))as 'date'
        from tb_score s
        join tb_user u on s.user_id = u.user_id
        <if test="status == 0">
            where s.create_date BETWEEN #{startDate} and #{endDate}
        </if>
        GROUP BY s.user_id
        ORDER BY max(DATE_FORMAT(s.create_date, '%Y-%m-%d %H:%i:%s')) DESC
    </select>

</mapper>