<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.medal.dao.MedalMapper">
    <resultMap id="BaseResultMap" type="com.dkm.medal.entity.Medal" >
        <id column="medal_id" property="medalId" jdbcType="INTEGER" />
        <result column="medal_user_id" property="medalUserId" jdbcType="INTEGER" />
        <result column="medal_name" property="medalName" jdbcType="VARCHAR" />
        <result column="medal_image" property="medalImage" jdbcType="VARCHAR" />
        <result column="medal_level" property="medalLevel" jdbcType="INTEGER" />
        <result column="medal_process" property="medalProcess" jdbcType="INTEGER" />
        <result column="medal_all_process" property="medalAllProcess" jdbcType="INTEGER" />
    </resultMap>

    <select id="queryMedalById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select medal_id,medal_user_id,medal_name,medal_image,medal_level,medal_process,medal_all_process from tb_medal
        where medal_user_id=#{userId}
    </select>

    <select id="queryMedalByIdDetails" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select medal_id,medal_user_id,medal_name,medal_image,medal_level,medal_process,medal_all_process from tb_medal
        where medal_id=#{medalId}
    </select>


</mapper>
