<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.diggings.dao.DiggingsHistoryMapper">

    <select id="selectLastOneByUserIdAndFamilyId"
            resultType="com.dkm.diggings.bean.entity.DiggingsHistoryEntity">
        SELECT *
        FROM tb_diggings_history
        WHERE id IN (
            SELECT MAX(id)
            FROM tb_diggings_history
            WHERE user_id = #{userId}
              AND family_id = #{familyId}
        )
    </select>
    <select id="selectAccept" resultType="com.dkm.diggings.bean.entity.DiggingsHistoryEntity">
        SELECT * FROM tb_diggings_history WHERE stop_date > #{date}
        <foreach open="OR" collection="list" item="item" index="index" separator="OR">
            user_id = #{item.first}
        </foreach>
    </select>
</mapper>