<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbBoxMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbBox">
		<id column="box_id" property="boxId" />
		<result column="box_no" property="boxNo" />
		<result column="box_type" property="boxType" />
	</resultMap>

</mapper>
