<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbEquipmentKnapsackMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbEquipmentKnapsack">
		<id column="tek_id" property="tekId" />
		<result column="equipment_id" property="equipmentId" />
		<result column="knapsack_id" property="knapsackId" />
		<result column="tek_sell" property="tekSell" />
		<result column="tek_money" property="tekMoney" />
		<result column="tek_daoju" property="tekDaoju" />
		<result column="tek_isva" property="tekIsva" />
	</resultMap>
	<resultMap id="BaseResultMapVoFour" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVoTwo">
		<result column="equipment_id" property="equipmentId" />
		<result column="tek_sell" property="tekSell" />
		<result column="equipment_level" property="equipmentLevel" />
		<result column="equipment_image" property="equipmentImage" />
		<result column="exp1" property="exp1" />
		<result column="ed_detailed_description" jdbcType="VARCHAR" property="edDetailedDescription" />
		<result column="ed_Equipment_reputation" jdbcType="INTEGER" property="edEquipmentReputation" />
		<result column="ed_Red_envelope_acceleration" jdbcType="DECIMAL" property="edRedEnvelopeAcceleration" />
		<result column="ed_defense" jdbcType="DECIMAL" property="edDefense" />
		<result column="ed_attribute" jdbcType="DECIMAL" property="edAttribute" />
		<result column="ed_life" jdbcType="DECIMAL" property="edLife" />
		<result column="ed_attack" jdbcType="DECIMAL" property="edAttack" />
		<result column="ed_type" jdbcType="DECIMAL" property="edType" />
		<result column="ed_typevalue" jdbcType="DECIMAL" property="edTypevalue" />
		<result column="ed_typeone" jdbcType="DECIMAL" property="edTypeone" />
		<result column="ed_typeonevalue" jdbcType="DECIMAL" property="edTypeonevalue" />
	</resultMap>
	<resultMap id="BaseResultMapVo" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVo">
		<id column="tek_id" property="tekId" />
		<result column="equipment_id" property="equipmentId" />
		<result column="knapsack_id" property="knapsackId" />
		<result column="tek_sell" property="tekSell" />
		<result column="tek_money" property="tekMoney" />
		<result column="tek_daoju" property="tekDaoju" />
		<result column="tek_isva" property="tekIsva" />
		<result column="box_id" property="boxId" />
		<result column="food_id" property="foodId" />
		<result column="food_number" property="foodNumber" />
		<result column="pri_img" property="priImg" />
		<result column="pri_name" property="priName" />
		<result column="equipment_level" property="equipmentLevel" />
		<result column="equipment_image" property="equipmentImage" />
		<result column="exp1" property="exp1" />
		<result column="exp2" property="exp2" />
		<result column="exp3" property="exp3" />
		<result column="name" property="name" />
		<result column="box_type" property="boxType" />
		<result column="url" property="url" />
		<result column="good_money" property="goodMoney" />
		<result column="ed_id" jdbcType="BIGINT" property="edId" />
		<result column="ed_detailed_description" jdbcType="VARCHAR" property="edDetailedDescription" />
		<result column="ed_Equipment_reputation" jdbcType="INTEGER" property="edEquipmentReputation" />
		<result column="ed_Red_envelope_acceleration" jdbcType="DECIMAL" property="edRedEnvelopeAcceleration" />
		<result column="ed_defense" jdbcType="DECIMAL" property="edDefense" />
		<result column="ed_attribute" jdbcType="DECIMAL" property="edAttribute" />
		<result column="ed_life" jdbcType="DECIMAL" property="edLife" />
		<result column="ed_attack" jdbcType="DECIMAL" property="edAttack" />
		<result column="ed_type" jdbcType="DECIMAL" property="edType" />
		<result column="ed_typevalue" jdbcType="DECIMAL" property="edTypevalue" />
		<result column="ed_typeone" jdbcType="DECIMAL" property="edTypeone" />
		<result column="ed_typeonevalue" jdbcType="DECIMAL" property="edTypeonevalue" />
	</resultMap>

    <resultMap id="BaseResultMapVoFive" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVoCenter">
        <id column="tek_id" property="tekId" />
        <result column="equipment_id" property="equipmentId" />
        <result column="tek_money" property="tekMoney" />
        <result column="equipment_level" property="equipmentLevel" />
        <result column="equipment_image" property="equipmentImage" />
        <result column="exp1" property="exp1" />
        <result column="ed_detailed_description" jdbcType="VARCHAR" property="edDetailedDescription" />
        <result column="ed_Equipment_reputation" jdbcType="INTEGER" property="edEquipmentReputation" />
        <result column="ed_Red_envelope_acceleration" jdbcType="DECIMAL" property="edRedEnvelopeAcceleration" />
        <result column="ed_defense" jdbcType="DECIMAL" property="edDefense" />
        <result column="ed_attribute" jdbcType="DECIMAL" property="edAttribute" />
        <result column="ed_life" jdbcType="DECIMAL" property="edLife" />
        <result column="ed_attack" jdbcType="DECIMAL" property="edAttack" />
        <result column="ed_type" jdbcType="DECIMAL" property="edType" />
        <result column="ed_typevalue" jdbcType="DECIMAL" property="edTypevalue" />
        <result column="ed_typeone" jdbcType="DECIMAL" property="edTypeone" />
        <result column="ed_typeonevalue" jdbcType="DECIMAL" property="edTypeonevalue" />
    </resultMap>
	<resultMap id="BaseResultMapVoTwo" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVoThree">
		<id column="tek_id" property="tekId" />
		<result column="food_number" property="foodNumber" />
	</resultMap>
	<resultMap id="BaseResultMapVoThree" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVoFour">
		<id column="tek_id" property="tekId" />
		<result column="food_number" property="foodNumber" />
		<result column="good_content" property="goodContent" />
        <result column="url" property="url" />
        <result column="name" property="name" />
	</resultMap>
	<select id="selectUserId" parameterType="java.lang.Long" resultMap="BaseResultMapVoFour">
		SELECT tk.equipment_id,tk.tek_sell,te.equipment_level,te.equipment_image,te.exp1,td.*
		FROM tb_box tbx,tb_equipment te,tb_equipment_details td,tb_equipment_knapsack tk,tb_knapsack tsk
		WHERE te.`equipment_id`=td.`equipment_id` AND te.`equipment_id`=tk.equipment_id AND tsk.knapsack_id=tk.knapsack_id AND
			tsk.user_id=#{userId} AND tk.tek_isva=1 AND tk.tek_sell=1 AND tbx.box_id=te.box_id
	</select>

	<!--
	 2020/7/13 加的sql food_id=6 代表金星星 返回它数量给梦琪
	 -->
	<select id="selectNumberStar" parameterType="java.lang.Long" resultMap="BaseResultMapVoTwo">
		SELECT food_number,tek_id FROM tb_equipment_knapsack WHERE knapsack_id=#{knapsackId} AND food_id=6
	</select>

	<!--
	 2020/7/14 查询个人中心的体力瓶
	 -->
	<select id="selectPersonCenter" parameterType="java.lang.Long" resultMap="BaseResultMapVoThree">
		SELECT tk.food_number,tk.tek_id,tg.good_content,tg.url,tg.name FROM tb_equipment_knapsack tk,tb_goods tg WHERE
	 tk.food_id=tg.id AND tk.knapsack_id=#{knapsackId}
	AND tk.food_id IN(722958015550165460,707431394650138541,707441015150160242)
	</select>
	<!--
		这个个人中心用的
	-->
	<select id="selectUserIdTwo" parameterType="java.lang.Long" resultMap="BaseResultMapVoFive">
		SELECT te.*,td.*,tk.* FROM tb_equipment te,tb_equipment_details td,tb_equipment_knapsack tk,tb_knapsack tsk
		WHERE te.`equipment_id`=td.`equipment_id` AND te.`equipment_id`=tk.equipment_id AND tsk.knapsack_id=tk.knapsack_id AND
			tsk.user_id=#{userId} AND tk.tek_isva=1 and tk.tek_sell=1
	</select>
	<select id="selectUserIdThree" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
		SELECT tk.tek_id,te.equipment_id,tsk.user_id,tk.knapsack_id,tk.tek_sell,tk.tek_money,tk.tek_daoju,tk.tek_isva
				,tk.food_id,tk.food_number,tbx.box_id,tbx.box_type,te.equipment_level,te.equipment_image,te.equipment_image,te.exp1,te.exp2,te.exp3
				,td.* FROM tb_box tbx,tb_equipment te,tb_equipment_details td,tb_equipment_knapsack tk,tb_knapsack tsk
		WHERE te.`equipment_id`=td.`equipment_id` AND te.`equipment_id`=tk.equipment_id AND tsk.knapsack_id=tk.knapsack_id AND
			tsk.user_id=#{userId} AND tk.tek_isva=1  AND tbx.box_id=te.box_id
	</select>
	<select id="selectCountAll" resultType="java.lang.Integer" parameterType="java.lang.Long">
		select count(*) from tb_equipment_knapsack where knapsack_id=#{knapsackId} and tek_isva=1 AND tek_sell=2
	</select>
	<select id="selectFoodId" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
		SELECT *FROM tb_equipment_knapsack tk,tb_goods td,tb_knapsack tdk WHERE
		tk.food_id=td.id AND tk.knapsack_id=tdk.knapsack_id AND tdk.user_id=#{userId} AND tk.tek_isva=1 and td.good_type=3
	</select>
	<select id="selectFoodIdTwo" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
		SELECT *FROM tb_equipment_knapsack tk,tb_goods td,tb_knapsack tdk WHERE
			tk.food_id=td.id AND tk.knapsack_id=tdk.knapsack_id AND tdk.user_id=#{userId} AND tk.tek_isva=1
	</select>
	<select id="selectProps" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
		SELECT *FROM tb_equipment_knapsack tk,tb_privilege_mall td,tb_knapsack tdk WHERE
			tk.pri_id=td.pri_id AND tk.knapsack_id=tdk.knapsack_id AND tdk.user_id=#{userId} AND tk.tek_isva=1
	</select>
	<select id="selectPropsTwo" parameterType="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVo" resultMap="BaseResultMapVo">
		SELECT *FROM tb_equipment_knapsack tk,tb_privilege_mall td,tb_knapsack tdk WHERE
			tk.pri_id=td.pri_id AND tk.knapsack_id=tdk.knapsack_id AND tdk.user_id=#{userId} AND tk.tek_isva=1
			and td.pri_id=#{priId}
	</select>
	<select id="selectCountMy" parameterType="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVo" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM tb_equipment_knapsack tk,tb_equipment te
		WHERE te.`equipment_id`=tk.equipment_id AND   tk.tek_sell=1 AND tk.tek_isva=1  AND te.`exp1`=#{exp1} and tk.knapsack_id=#{knapsackId}
	</select>

	<select id="selectAll" parameterType="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVo" resultMap="BaseResultMapVo">
		SELECT tk.tek_id,td.*,te.* FROM tb_equipment_knapsack tk,tb_equipment te,tb_equipment_details td
		WHERE te.`equipment_id`=tk.equipment_id AND tk.tek_isva=1  and  tk.tek_sell=1 and te.equipment_id=td.equipment_id AND te.`exp1`=#{exp1}
		  and tk.knapsack_id=#{knapsackId}
	</select>

</mapper>
