<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbEquipmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbEquipment">
		<id column="equipment_id" property="equipmentId" />
		<result column="box_id" property="boxId" />
		<result column="equipment_level" property="equipmentLevel" />
		<result column="equipment_image" property="equipmentImage" />
		<result column="exp1" property="exp1" />
		<result column="exp2" property="exp2" />
		<result column="exp3" property="exp3" />
	</resultMap>
	<resultMap id="BaseResultMapVo" type="com.dkm.knapsack.domain.vo.TbEquipmentVo">
		<id column="equipment_id" jdbcType="BIGINT" property="equipmentId" />
		<result column="box_id" jdbcType="BIGINT" property="boxId" />
		<result column="equipment_level" jdbcType="INTEGER" property="equipmentLevel" />
		<result column="equipment_image" jdbcType="VARCHAR" property="equipmentImage" />
		<result column="exp1" jdbcType="VARCHAR" property="exp1" />
		<result column="exp2" jdbcType="VARCHAR" property="exp2" />
		<result column="exp3" jdbcType="VARCHAR" property="exp3" />
		<result column="ed_id" jdbcType="BIGINT" property="edId" />
		<result column="ed_detailed_description" jdbcType="VARCHAR" property="edDetailedDescription" />
		<result column="ed_Equipment_reputation" jdbcType="INTEGER" property="edEquipmentReputation" />
		<result column="ed_Red_envelope_acceleration" jdbcType="DECIMAL" property="edRedEnvelopeAcceleration" />
		<result column="ed_defense" jdbcType="DECIMAL" property="edDefense" />
		<result column="ed_attribute" jdbcType="DECIMAL" property="edAttribute" />
		<result column="ed_life" jdbcType="DECIMAL" property="edLife" />
		<result column="ed_attack" jdbcType="DECIMAL" property="edAttack" />
		<result column="ed_type" jdbcType="DECIMAL" property="edType" />
		<result column="ed_typevalue" jdbcType="DECIMAL" property="edTypevalue" />
		<result column="ed_typeone" jdbcType="DECIMAL" property="edTypeone" />
		<result column="ed_typeonevalue" jdbcType="DECIMAL" property="edTypeonevalue" />
	</resultMap>
	<select id="selectByEquipmentId" resultMap="BaseResultMapVo" parameterType="java.lang.Long">
		SELECT *FROM tb_equipment te,tb_equipment_details td WHERE te.equipment_id=td.equipment_id AND te.equipment_id=#{equipmentId}
	</select>
</mapper>
