<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbEquipmentDetailsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbEquipmentDetails">
		<id column="ed_id" property="edId" />
		<result column="equipment_id" property="equipmentId" />
		<result column="ed_detailed_description" property="edDetailedDescription" />
		<result column="ed_Equipment_reputation" property="edEquipmentReputation" />
		<result column="ed_Red_envelope_acceleration" property="edRedEnvelopeAcceleration" />
	</resultMap>

</mapper>
