<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbEquipmentKnapsackMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbEquipmentKnapsack">
		<id column="tek_id" property="tekId" />
		<result column="equipment_id" property="equipmentId" />
		<result column="knapsack_id" property="knapsackId" />
		<result column="tek_sell" property="tekSell" />
		<result column="tek_money" property="tekMoney" />
		<result column="tek_daoju" property="tekDaoju" />
		<result column="tek_isva" property="tekIsva" />
	</resultMap>
	<resultMap id="BaseResultMapVo" type="com.dkm.knapsack.domain.vo.TbEquipmentKnapsackVo">
		<id column="tek_id" property="tekId" />
		<result column="equipment_id" property="equipmentId" />
		<result column="knapsack_id" property="knapsackId" />
		<result column="tek_sell" property="tekSell" />
		<result column="tek_money" property="tekMoney" />
		<result column="tek_daoju" property="tekDaoju" />
		<result column="tek_isva" property="tekIsva" />
		<result column="box_id" property="boxId" />
		<result column="equipment_level" property="equipmentLevel" />
		<result column="equipment_image" property="equipmentImage" />
		<result column="exp1" property="exp1" />
		<result column="exp2" property="exp2" />
		<result column="exp3" property="exp3" />
		<result column="ed_id" jdbcType="BIGINT" property="edId" />
		<result column="ed_detailed_description" jdbcType="VARCHAR" property="edDetailedDescription" />
		<result column="ed_Equipment_reputation" jdbcType="INTEGER" property="edEquipmentReputation" />
		<result column="ed_Red_envelope_acceleration" jdbcType="DECIMAL" property="edRedEnvelopeAcceleration" />
	</resultMap>

	<select id="selectUserId" parameterType="java.lang.Long" resultMap="BaseResultMapVo">
		SELECT *FROM tb_equipment te,tb_equipment_details td,tb_knapsack tk,tb_equipment_knapsack tek
		WHERE te.`equipment_id`=td.`equipment_id` AND tek.equipment_id=te.equipment_id
		AND tek.knapsack_id=tk.knapsack_id AND tk.user_id=#{userId} and tek_isva=1
	</select>
	<select id="selectCountMy" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM tb_equipment_knapsack tk,tb_equipment te
		WHERE te.`equipment_id`=tk.equipment_id AND tk.knapsack_id=1 AND te.`exp1`=#{exp1}
	</select>
	<select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMapVo">
		SELECT td.*,te.* FROM tb_equipment_knapsack tk,tb_equipment te,tb_equipment_details td
		WHERE te.`equipment_id`=tk.equipment_id AND tk.knapsack_id=1 and te.equipment_id=td.equipment_id AND te.`exp1`=#{exp1}
	</select>
</mapper>
