<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.knapsack.dao.TbKnapsackMapper">
	<resultMap id="BaseResultMap" type="com.dkm.knapsack.domain.TbKnapsack">
		<id column="knapsack_id" jdbcType="BIGINT" property="knapsackId" />
		<result column="user_id" jdbcType="BIGINT" property="userId" />
		<result column="knapsack_capacity" jdbcType="INTEGER" property="knapsackCapacity" />
	</resultMap>
	<sql id="Base_Column_List">
		knapsack_id, user_id, knapsack_capacity
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_knapsack
		where knapsack_id = #{knapsackId,jdbcType=BIGINT}
	</select>
	<select id="selectByIdTwo" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_knapsack
		where user_id = #{userId}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tb_knapsack
		where knapsack_id = #{knapsackId,jdbcType=BIGINT}
	</delete>

	<insert id="insertSelective" parameterType="com.dkm.knapsack.domain.TbKnapsack">
		insert into tb_knapsack
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="knapsackId != null">
				knapsack_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="knapsackCapacity != null">
				knapsack_capacity,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="knapsackId != null">
				#{knapsackId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="knapsackCapacity != null">
				#{knapsackCapacity,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.dkm.knapsack.domain.TbKnapsack">
		update tb_knapsack
		<set>
			<if test="knapsackCapacity != null">
				knapsack_capacity = knapsack_capacity + #{knapsackCapacity,jdbcType=INTEGER},
			</if>
		</set>
		where user_id = #{userId,jdbcType=BIGINT}
	</update>
</mapper>