<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.produce.dao.ProduceMapper">

    <select id="queryJoinOutPutGoods" resultType="com.dkm.produce.entity.vo.AttendantGoods" parameterType="java.lang.Long">
        select a.id,a.good_id,a.number,d.name,d.url, c.at_img,
               COUNT(d.name) as sum from tb_produce a,tb_user_produce b,tb_attendant c,tb_goods d
        where b.produce_id=a.id and a.attendant_id=c.id and a.good_id=d.id and b.user_id=#{userId} GROUP BY a.id
    </select>


    <select id="queryOutput" resultType="com.dkm.produce.entity.vo.UserAttendantGoods" parameterType="java.lang.Long">
        select a.number,c.name,c.url,d.at_name,d.at_img from  tb_produce a,tb_user_produce b,tb_goods c,tb_attendant d
        where a.id=b.produce_id and a.good_id=c.id and a.attendant_id=d.id and b.user_id=#{userId};
    </select>



</mapper>
