<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.produce.dao.ProduceMapper">

    <select id="queryImgFood" resultType="com.dkm.produce.entity.vo.AttendantImgVo" parameterType="java.lang.Long">
        select b.we_chat_head_img_url,a.attendant_id from tb_attendant_user a,tb_user b where a.user_id=712025696226152448 and a.caught_people_id=b.user_id
    </select>


    <select id="queryOutput" resultType="com.dkm.produce.entity.vo.AttendantPutVo" parameterType="java.lang.Long">
        select b.attendant_id as 'attendantId',sum(b.number) as 'number',c.id as 'goodId'
              ,c.name as 'goodName',c.url as 'imgUrl',d.caught_people_id
              from tb_user_produce a join tb_produce b
              on a.produce_id = b.id join tb_goods c on b.good_id = c.id
              join tb_attendant_user d on b.attendant_id = d.attendant_id
              where a.user_id= #{userId}
              group by b.attendant_id,d.caught_people_id,c.id
    </select>


    <select id="queryAllIdList" resultType="com.dkm.produce.entity.vo.ProduceSelectVo">
        select a.id as 'produceId',b.id as 'produceUserId'
        from tb_produce a join tb_user_produce b on a.id = b.produce_id
        where a.attendant_id = #{aId} and b.user_id = #{userId}
    </select>

    <delete id="deleteProduce" parameterType="com.dkm.produce.entity.vo.ProduceSelectVo">
        delete from tb_produce where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.produceId}
        </foreach>
    </delete>


    <delete id="deleteProduceUser" parameterType="com.dkm.produce.entity.vo.ProduceSelectVo">
        delete from tb_user_produce where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item.produceUserId}
        </foreach>
    </delete>

</mapper>
