<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.produce.dao.ProduceMapper">

    <select id="queryUserReputationGold" resultType="com.dkm.attendant.entity.vo.User" parameterType="java.lang.Integer">
        select c.at_img,COUNT(d.name) as sum from tb_produce a,tb_user_produce b,tb_attendant c,tb_goods d
        where b.produce_id=a.id and a.attendant_id=c.id and a.good_id=d.id and b.user_id=#{userId} GROUP BY a.id
    </select>




</mapper>
