<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.shop.dao.TbShopsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.shop.domain.TbShops">
		<id column="shop_id" property="shopId" />
		<result column="shop_name" property="shopName" />
		<result column="shop_money" property="shopMoney" />
		<result column="ts_id" property="tsId" />
		<result column="exp2" property="exp2" />
		<result column="exp3" property="exp3" />
		<result column="shop_image" property="shopImage" />
		<result column="shop_info" property="shopInfo" />
	</resultMap>

</mapper>
