<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.shop.dao.TbThedailyOneMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.dkm.shop.domain.TbThedailyOne">
		<result column="tho_id" property="thoId" />
		<result column="user_id" property="userId" />
		<result column="thd_id" property="thdId" />
		<result column="tho_date" property="thoDate" />
		<result column="exp1" property="exp1" />
		<result column="exp2" property="exp2" />
	</resultMap>

	<select id="selectCountThd" parameterType="com.dkm.shop.domain.TbThedailyOne" resultType="java.lang.Integer">
		select count(*) from tb_thedaily_one
		<where>
			<if test="userId!=null">
				and user_id=#{userId}
			</if>
			<if test="thdId!=null">
				and thd_id=#{thdId}
			</if>
			<if test="exp2!=null">
				and tho_date like  '%${exp2}%'
			</if>
		</where>
	</select>
</mapper>
