<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.userInfo.dao.UserInfoMapper">

    <update id="increaseUserInfo" parameterType="com.dkm.userInfo.entity.bo.IncreaseUserInfoBO">
        update tb_user_info set user_info_gold = user_info_gold + #{userInfoGold} ,
        user_info_renown = user_info_renown + #{userInfoRenown},
        user_info_diamonds = user_info_diamonds + #{userInfoDiamonds} where user_id = #{userId}
    </update>

</mapper>