<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.userInfo.dao.UserInfoMapper">

    <update id="increaseUserInfo" parameterType="com.dkm.userInfo.entity.bo.IncreaseUserInfoBO">
        update tb_user_info
        <set>
            <if test="userInfoGold != null">
                user_info_gold = user_info_gold + #{userInfoGold} ,
            </if>
            <if test="userInfoRenown != null">
                user_info_renown = user_info_renown + #{userInfoRenown},
            </if>
            <if test="userInfoDiamonds != null">
                user_info_diamonds = user_info_diamonds + #{userInfoDiamonds}
            </if>
            <if test="userInfoNowExperience != null">
                user_info_now_experience = user_info_now_experience + #{userInfoNowExperience}
            </if>
            <if test="userInfoStrength != null">

                user_info_strength = case
                when user_info_strength+#{userInfoStrength} &lt;= user_info_all_strength then user_info_strength + #{userInfoStrength}
                else user_info_all_strength
                end
<!--#                 user_info_strength = user_info_strength + #{userInfoStrength}-->
            </if>
        </set>
        where user_id = #{userId}
    </update>


    <update id="cutUserInfo" parameterType="com.dkm.userInfo.entity.bo.IncreaseUserInfoBO">
        update tb_user_info
        <set>
            <if test="userInfoGold != null">
                user_info_gold = user_info_gold - #{userInfoGold} ,
            </if>
            <if test="userInfoRenown != null">
                user_info_renown = user_info_renown - #{userInfoRenown},
            </if>
            <if test="userInfoDiamonds != null">
                user_info_diamonds = user_info_diamonds - #{userInfoDiamonds}
            </if>
        </set>
        where user_id = #{userId}
    </update>


    <select id="listUserPlunder" resultType="com.dkm.entity.bo.UserPlunderBo">
        SELECT a.user_id as 'userId',a.we_chat_head_img_url as 'heardUrl',
        a.we_chat_nick_name as 'userName', b.user_info_grade as 'grade'
        FROM tb_user a JOIN tb_user_info b on a.user_id = b.user_id
        ORDER BY RAND() LIMIT 20
    </select>

    <select id="listAttUser" resultType="com.dkm.entity.vo.AttendantWithUserVo" parameterType="Long">
        SELECT a.user_id as 'userId',a.we_chat_head_img_url as 'weChatHeadImgUrl',
        b.user_info_renown as 'userInfoRenown',
        a.we_chat_nick_name as 'weChatNickName', b.user_info_gold as 'userInfoGold'
        FROM tb_user a JOIN tb_user_info b on a.user_id = b.user_id
        where a.user_id != #{userId}
        ORDER BY RAND() LIMIT 9
    </select>


    <update id="updateStrength">
        update tb_user_info set user_info_strength = user_info_strength - #{grade}
     where user_id = #{userId}
    </update>


    <update id="updateInfo" parameterType="com.dkm.entity.bo.UserInfoSkillBo">
        update tb_user_info
          <set>
            <if test="gold != 0">
                user_info_gold = user_info_gold - #{gold},
            </if>
            <if test="diamonds != 0">
                user_info_diamonds=user_info_diamonds - #{diamonds},
            </if>
                user_info_renown = user_info_renown + #{prestige},
          </set>
        where user_id = #{userId}
    </update>

    <select id="reputationRanking" resultType="com.dkm.userInfo.entity.bo.ReputationRankingBO">
        SELECT  a.we_chat_nick_name , a.we_chat_head_img_url, a.user_sex, b.user_info_renown, b.user_info_grade
        FROM  tb_user a LEFT JOIN  tb_user_info b ON a.user_id = b.user_id ORDER BY b.user_info_renown DESC
    </select>

    <select id="listOpponent" resultType="com.dkm.entity.vo.OpponentVo" parameterType="com.dkm.entity.vo.IdVo">
        select a.user_id,a.we_chat_head_img_url as 'imgUrl',a.we_chat_nick_name as 'nickName',
        b.user_info_grade as 'grade',b.user_info_renown as 'userInfoRenown'
        from tb_user a join tb_user_info b on a.user_id = b.user_id where
        <foreach collection="list" item="item" index="index" separator="or">
             a.user_id = #{item.userId}
        </foreach>
    </select>


    <select id="queryUserInfoAtt" parameterType="Long" resultType="com.dkm.entity.vo.UserInfoAttVo">
        select user_id, we_chat_head_img_url as 'heardUrl',we_chat_nick_name as 'nickName' from tb_user where
        <foreach collection="list" item="item" index="index" separator="or">
            user_id = #{item}
        </foreach>
    </select>

</mapper>