<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.backpack.dao.BackpackMapper">

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO tb_user_backpack (backpack_id, good_id,user_id,`number`) VALUES
        <foreach collection="list" item="backpack" separator=",">
            (#{backpack.backpackId},#{backpack.goodId},#{backpack.userId},#{backpack.number})
        </foreach>
    </insert>

</mapper>
