<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.skill.dao.SkillMapper">


    <select id="queryAllSkillByUserId" parameterType="Long" resultType="com.dkm.entity.bo.SkillBo">
        select a.sk_img as 'imgUrl', b.sk_grade as 'grade' from tb_skill a join tb_user_skill b on a.id = b.sk_id
        where b.user_id = #{userId}
    </select>


</mapper>