<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.skill.dao.SkillMapper">


    <select id="queryAllSkillByUserId" parameterType="Long" resultType="com.dkm.skill.entity.vo.SkillUserSkillVo">
        select b.sk_name,b.sk_img,a.sk_grade,a.sk_degree_proficiency,a.sk_Current_success_rate,a.sk_add_prestige,a.sk_all_consume,a.sk_current_consume
        from tb_user_skill a,tb_skill b
        where a.sk_id=b.id and a.user_id=#{userId}
    </select>


</mapper>