<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.skill.dao.SkillMapper">

    <select id="queryMySkill" parameterType="java.lang.Long">
        select a.sk_img,b.sk_grade from tb_skill a,tb_user_skill b  where a.sk_id=b.sk_id and b.user_id=#{userId}
    </select>

    <insert id="addSkill" parameterType="com.dkm.skill.entity.UserSkill">
        insert into tb_plant_unlock(user_id,sk_id,sk_grade,sk_result_one,sk_result_two,sk_degree_proficiency,sk_Current_success_rate,sk_star,sk_Currently_has_num,sk_Total_consumed_quantity)
        <foreach collection="list" item="lists" index="index" separator="union all">
            select #{lists.userId},#{lists.skId},#{lists.skGrade},#{lists.skResultOne},#{lists.skResultTwo},#{lists.skDegreeProficiency},
                   #{lists.skCurrentSuccessRate},#{lists.skStar},#{lists.skCurrentlyHasNum},#{lists.skTotalConsumedQuantity}
        </foreach>
    </insert>

    <insert id="addStart" parameterType="com.dkm.skill.entity.Stars">
        insert into tb_plant_unlock(s_id,user_id,s_star,s_img,s_Currently_has_num,s_Total_consumed_quantity)
        <foreach collection="starsList" item="lists" index="index" separator="union all">
            select #{lists.sId},#{lists.userId},#{lists.sStar},#{lists.sImg},#{lists.sCurrentlyHasNum},#{lists.sTotalConsumedQuantity},
        </foreach>
    </insert>

</mapper>
