<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.seed.dao.SeedMapper">

    <select id="queryUserIdSeed" resultType="com.dkm.seed.entity.vo.SeedPlantUnlock" parameterType="java.lang.Long">
        select a.seed_id,a.seed_name,a.seed_grade,a.seed_prodgold,a.seed_prodred,a.seed_experience,a.seed_gold,a.seed_img,c.seed_present_unlock,c.seed_all_unlock,c.seed_status from
        tb_seed a, tb_plant_unlock c where c.user_id=#{userId}  and a.seed_id=c.seed_id
    </select>

    <select id="queryAlreadyPlantSd" resultType="com.dkm.seed.entity.vo.LandYesVo" parameterType="java.lang.Long">
        select a.seed_name,a.seed_grade,a.seed_prodgold,a.seed_prodred,a.seed_experience,a.seed_gold,a.seed_img,b.plant_time,b.new_seed_is,b.id
        from tb_seed a,tb_land_seed b where a.seed_id=b.seed_id and b.user_id=#{userId} and b.le_status=1
    </select>

    <select id="queryAreUnlocked" resultType="com.dkm.seed.entity.vo.SeedUnlockVo" parameterType="java.lang.Long">
        select b.seed_name,b.seed_img from tb_plant_unlock a,tb_seed b where a.seed_id=b.seed_id and a.user_id=#{userId} and a.seed_status=1
    </select>

    <select id="querySeedById" resultType="com.dkm.seed.entity.vo.SeedDetailsVo">
        select a.seed_name,a.seed_id,a.seed_img,a.seed_gold,a.seed_grade,a.seed_prodred,a.seed_prodgold,b.seed_present_unlock,b.seed_all_unlock,b.seed_status from  tb_seed a,tb_plant_unlock b
        where a.seed_id=b.seed_id and a.seed_id=#{seedId} and b.user_id=#{userId}
    </select>

    <select id="queryStatus" resultType="com.dkm.seed.entity.vo.CountIdVo" parameterType="Long">
        select count(*) as 'count',id as 'id', from tb_land_seed where user_id=#{userId} and le_status=3 and
        <foreach collection="list" item="item" index="index" separator="or">
             la_no = #{item}
        </foreach>
    </select>



    <select id="queryIsById" resultType="com.dkm.seed.entity.SeedUnlock">
        select user_id from tb_plant_unlock where user_id=#{userId}
    </select>

    <update id="uploadUnlockMoneyAndPrestige">
        update tb_user_info set user_info_gold=user_info_gold-#{unlockmoeny},user_info_renown=user_info_renown+#{prestige} where user_id=#{userId}
    </update>



    <update id="updateSeedPresentUnlock">
        update tb_plant_unlock
        <set>
        <if test="seedPresentUnlock!=null">
            seed_present_unlock=seed_present_unlock+1,
        </if>
        <if test="seedStatus!=null">
            seed_status=1
        </if>
        </set>
        where user_id=#{userId} and seed_id=#{seedId}
    </update>

    <update id="updateUser" parameterType="com.dkm.seed.entity.vo.UserInIf">
        update tb_user_info
        <set>
            <if test="userGold!=null">
                user_info_gold=user_info_gold+#{userGold},
            </if>
            <if test="userInfoPacketBalance!=null">
                user_info_packet_balance=user_info_packet_balance+#{userInfoPacketBalance},
            </if>
            <if test="userInfoNowExperience!=null">
                user_info_now_experience=#{userInfoNowExperience},
            </if>
            <if test="userInfoNextExperience!=null">
                user_info_next_experience=#{userInfoNextExperience},
            </if>
            <if test="userInfoGrade!=null">
                user_info_grade=user_info_grade+1,
            </if>
            <if test="redPacketDropped!=null">
                user_info_packet_balance=user_info_packet_balance+#{redPacketDropped}
            </if>
        </set>
        where user_id=#{userId}
    </update>



    <update id="updateUsers" parameterType="com.dkm.seed.entity.vo.UserInIf">
        update tb_user_info set user_info_now_experience=user_info_now_experience+#{userInfoNowExperience},
                                user_info_gold=user_info_gold+#{userGold},
                                user_info_packet_balance=user_info_packet_balance+#{redPacketDropped}
        where  user_id=#{userId}
    </update>

    <update id="uploadPresentUnlock" >
        update tb_seed set seed_present_unlock=seed_present_unlock-1 where seed_id=#{seedId}
    </update>


    <insert id="addPlant" parameterType="com.dkm.seed.entity.LandSeed">
        insert into tb_land_seed(id,user_id,seed_id,la_no,plant_time,le_status,new_seed_is)
        <foreach collection="list" item="lists" index="index" separator="union all">
            select #{lists.id},#{lists.userId},#{lists.seedId},#{lists.laNo},#{lists.plantTime},#{lists.leStatus},#{lists.newSeedIs}
        </foreach>
    </insert>




    <insert id="insertSeedUnlock" parameterType="com.dkm.seed.entity.SeedUnlock">
        insert into tb_plant_unlock(pu_id,seed_id,seed_present_unlock,seed_all_unlock,seed_status,user_id)
        <foreach collection="list" item="lists" index="index" separator="union all">
            select #{lists.puId},#{lists.seedId},#{lists.seedPresentUnlock},#{lists.seedAllUnlock},#{lists.seedStatus},#{lists.userId}
        </foreach>
    </insert>


    <delete id="deleteLandSeed" parameterType="java.lang.Long">
        delete from tb_land_seed where user_id=#{userId}
    </delete>



    <update id="updateLeStatusTime">
        <foreach collection="list" item="lists" index="index" separator=";">
            update tb_land_seed
            <set>
                le_status=1,
                plant_time=#{plantTime}
            </set>
            where id=#{lists.id}
        </foreach>
    </update>



</mapper>
