<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.seed.dao.SeedsFallMapper">

    <insert id="insertSeedDropGoldOrRedEnvelopes" parameterType="com.dkm.seed.entity.SeedsFall">
        insert into tb_seeds_fall(id,seed_id,drop_coins,drop_red_envelope)
        <foreach collection="list" item="lists" index="index" separator="union all">
            select #{lists.id},#{lists.seedId},#{lists.dropCoins},#{lists.dropRedEnvelope}
        </foreach>
    </insert>

    <select id="queryGoldAndRed" resultType="com.dkm.seed.entity.vo.GoldRedVo">
        select sum(drop_coins) as 'goldCoin',sum(drop_red_envelope) as 'redEnvelopes'
        from tb_land_seed a,tb_seeds_fall b where a.id=b.id and a.user_id=#{userId}
    </select>

    <select id="queryDroppedItems" resultType="com.dkm.seed.entity.vo.SeedsFallVo">
        select b.id,b.drop_coins,b.drop_red_envelope,b.drop_falling_flowers from tb_land_seed a,tb_seeds_fall b
        where a.user_id=#{userId} and a.id=b.id
    </select>

    <select id="queryMoney" resultType="com.dkm.seed.entity.vo.moneyVo">
        select a.user_id,b.seed_prodred from tb_land_seed a,tb_seed b where a.seed_id=b.seed_id  and a.new_seed_is=1
    </select>





</mapper>
