<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkm.goldMine.dao.MineMapper">
    <select id="selectMineByFamilyId" resultType="com.dkm.goldMine.bean.entity.MineEntity">
        select * from tb_family_mine where family_id = #{family_id}
    </select>
</mapper>