<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dkm.plunder.dao.UserProduceMapper">


    <insert id="allInsertUserProduce" parameterType="com.dkm.plunder.entity.UserProduce">
        insert into tb_user_produce (id, user_id, produce_id)
        <foreach collection="list" item="item" index="index" separator="union all">
            select #{item.id},#{item.userId},#{item.produceId}
        </foreach>
    </insert>



</mapper>